<{$scripts}>
<div id="central">
	<br />
	<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="1" class="outer">
		<tbody>
			<tr class="bg3">
				<td style="width: 10%; text-align: center;"><a href="index.php"><{$smarty.const._AM_SLIDER_INDEX_TAB1}></a></td>
				<td style="width: 10%; text-align: center;"><a href="sliders_admin.php?op=addNewSlider"><{$smarty.const._AM_SLIDER_INDEX_TAB2}></a></td>
				<td style="width: 10%; text-align: center;">&nbsp;</td>
				<td style="width: 10%; text-align: center;">&nbsp;</td>
				<td style="width: 10%; text-align: center;">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>